.app-bar-container {
    background: #FEFFFF;
    border-bottom: 1px #dedede solid;
}

.app-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .logo {
        margin-right: auto;
    }

    a {
        color: #212121;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
    }

    .app-bar-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        list-style: none inside;

        li {
            margin: 0 22px;
        }

        a {
            font-size: 12px;
        }
    }

    .contact-us {
        margin-left: auto;
    }
}