.service {
    background: #F0F1F7;
    width: 250px;
    padding: 25px;
    position: relative;
    flex-grow: 0;
    flex-basis: 250px;

    .service__icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .service__title {
        width: 100px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        color: var(--text-color);
    }

    .service__more {
        font-size: 10px;
        margin-top: 20px;
        border-bottom: 1px solid #212121;
        display: inline-block;
        font-weight: 600;
        color: var(--link-color);
        text-decoration: none;
    }
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFC;
    padding: 36px 21px;
    margin: 10px 10px;
    width: 22%;

    img {
        height: 28px;
    }
}

.solution-partner {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 2px solid #212121;
    width: 132px;
    padding: 25px 25px 25px 0;
}

.emphasis {
    margin: 200px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 136%;
    color: #25272F;
    padding-right: 146px;
}

.image-banner {
    padding-right: 146px;
    img {
        width: 350px;
    }
}

.service-desc {
    margin: 20px 0;

    .service-desc__title {
        color: #479C9C;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        img {
            height: 20px;
            margin-left: 10px;
        }
    }
    .service-desc__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #5B5E67;
    }
}

.regular-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #5B5E67;
}

.feedback-item {
    position: relative;
    width: 290px;
    padding-right: 60px;

    .feedback-item__client-logo {
        height: 20px;
        margin: 20px 0;
    }

    .feedback-item__person {
        display: flex;
        flex-flow: row nowrap;

        img {
            width: 36px;
            height: 36px;
            margin-right: 10px;
        }

        .feedback-item__person__name {
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }

        .feedback-item__person__staff {
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }
}

.news {
    background: url("../images/im1.png") top right;
    background-repeat: no-repeat;
}

.news-item {
    position: relative;
    width: 530px;
    border-top: 2px solid #212121;
    margin: 40px 0;
    padding: 20px 0 0;
    text-decoration: none;
    color: var(--text-color);
    display: block;

    img {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
    }

    .news-item__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 136%;
        width: 380px;
    }
}

.text-leader2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.secondary-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
}

.copyright {
    //color: #FCFCFC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

footer {
    background: #FCFCFC;
    padding: 100px 0 20px;
    border-top: 1px #dedede solid;

    .logo {
        margin: 20px 0;
        display: block;
    }
}

.footer-social-menu {
    list-style: none inside;
    display: flex;
    font-size: 10px;
    justify-content: end;

    li {
        margin: 0 10px;
    }

    a {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
        color: #ADB1BF;
    }
}

.footer-menu {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    list-style: none inside;
    margin: 0;
    padding: 0;

    li {
        margin: 10px 0;
    }

    a {
        text-decoration: none;
        color: var(--text-color)
    }
}